@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 5.625rem;
    color: #FFF;
    margin-top: 0;
}
ul {
    padding: 0;
}

.button {
    background-color: #A59678;
    padding: .25rem .75rem;
    border-radius: 100px;
}
.container {
    max-width: 1200px;
}

.logo {
    display: inline-block;
    padding: 1em;
}

.nav {
    background-color: #2E323F;
}
.nav-toggle {
    cursor: pointer;
    background-color: #2E323F;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 2rem .5em;
    transition: opacity 250ms ease;
    position: absolute;
    right: 5%;
}

.nav__list {
    list-style: none;
    padding-bottom: 2em;
    margin: 0;  
    display: none;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    height: 3px;
    background-color: #fff;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
    color: black;
}
.hamburger::after {
    transform: translateY(3px);
}

.active {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.nav__link {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 1.125rem;
    text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus {
    opacity: .65;           
}

/* Hero Styling */
.hero {
    text-align: center;
    background-color: #3B4050;
    min-height: 80vh;
}
.hero__span {
    color: #A59678;
}
.hero__content > p {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 1.5rem;
    padding: 1rem 1rem;
}
.cta {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #A59678;
    color: #FFF;
    padding: .25rem 2rem;
    border-radius: 100px;
    border: none;
}

/* 1st Main Section */
.main {
    background-color: #f1f1f1;
}
.main__content {
    color: #2E323F;
    text-align: center;
    padding: 1rem 5rem;
}
.main__title {
    font-family: 'Oswald', sans-serif;
    font-size: 1.875rem;
    color: #A59678;
}
.main__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3125rem;
}

/* Large section  */
.large {
    padding: 1rem 5rem;
    background-color: #FFF;
    color: #2E323F;
    text-align: center;
}
.large__title--primary {
    font-family: 'Oswald', sans-serif;
    font-size: 2.25rem;
    color: #A59678;    
}
.large__img {
    max-width: 100%;
}
.large__content--primary {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3125rem;
}

/* Other large section (sidebar) */
.large__item--secondary-one,
.large__item--secondary-two,
.large__item--secondary-three {
    background-color: #3B4050;
    border-radius: 5px;
}
.large__item--secondary-title,
.large__item--secondary-text {
    color: #FFF;
    padding: 1rem 2rem;
}
.large__item--secondary-title {
    font-family: 'Oswald', sans-serif;
    font-size: 1.875rem;
    padding-bottom: .5rem;
    margin-bottom: 0;
}
.large__item--secondary-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    margin-top: 0;
}

/* Footer styling */
.footer {
    background-color: #3B4050;
    color: white;
    text-align: center;
    padding-top: 4rem;
}
.footer__title {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}
.footer__content-title {
    font-family: 'Oswald', sans-serif;
    font-size: 1.125rem;
    color: #A59678;
}
.footer__content-text,
.footer__item {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #8a8e99;
}
.footer__content-text {
    line-height: 1.5;
    padding: 0 3rem;
}
.footer__list {
    padding-bottom: 1em;
}
.footer__item {
    padding-bottom: 1.5rem;
}

/* Media query for above 700px */
@media (min-width: 700px) {
    /* tablet nav styles */
    .container {
        margin: 0 auto;
    }
    .row {
        background-color: #3B4050;
    }
    .nav {
        background-color: #2E323F;
    }
    .nav-toggle {
        display: none;
    }
    .logo {
        display: flex;
        justify-content: center;
        padding: 2em 3em 2em 3em;
        overflow: hidden;
    }
    .nav__list {
        display: flex;
        justify-content: space-around;
    }
    /* tablet hero styles */
    .hero {
        padding: 3em;
        min-height: 60vh;
    }
    /* table large--primary styles */
    .large__img {
        max-width: 100%;
        width: 800px;
    }
    /* tablet large--secondary styles */
    .large__item--secondary {
        display: flex;
        gap: 1.5em;
        margin: 3em 0;
    }
    .large__item--secondary-title {
        padding: .25em .5em .5em .25em;
        margin-top: 0;
    }
    .large__item--secondary-text {
        padding: .5em .75em;
    }
}

/* Desktop styles */
@media (min-width: 1000px){
    /* Desktop nav styles */
    .main__nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .nav__list {
        padding: 0;
    }
    .nav__item {
        padding: 0 2em;
    }

    /* Desktop hero styles */
    .hero {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 2em;
        padding: 13em 5em;
        min-height: 0;
    }
    h1 {
        line-height: 1;
        text-align: left;
        margin-bottom: 0;
    }
    .hero__content {
        text-align: left;
    }
    .hero__content > p {
        padding: 0;
    }

    /* Desktop main styles */
    .main__content {
        display: flex;
        gap: 5em;
        padding: 4em 1em;
    }
}